.large-centered.large-4.columns
  %h1 Login
  = form_tag :sessions do
    %label Email
    = text_field_tag :email
    %label Password
    = password_field_tag :password
    = button_tag 'login', class: "large button expand"
