.row
  %table#transactions
    %thead
      %tr
        %th date
        %th description
        %th amount
        %th status
      
    %tbody
      - @transactions.each do |transaction|
        %tr
          %td= transaction.date
          %td
            = link_to transaction.label, transaction_path(transaction)
          %td{style: "text-align:right"}= transaction.display_value
          %td 
            - if transaction.explained?
              %span.success.label explained
            - else
              %span.alert.label unexplained
  = link_to 'Add transaction', new_transaction_path, class: 'button'
