%table
  %tr
    %td= @transaction.date
    %td= @transaction.description
    %td= @transaction.display_value
    %td= @transaction.is_credit ? "credit" : "debit"


-# unless @tranasction.explainations.nil?
